<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="text-center">
        <div class="card card-autenticacao my-5">

          <h1 class="card-logotipo text-center">WBoss</h1>

          <form class="form-autenticacao" (ngSubmit)="clickAutenticar()">

            <wbs-input-primario [formGroup]="autenticacaoForm" #inputLogin wbs-placeholder="Informe seu login..."
              wbs-maxlength="40">
            </wbs-input-primario>

            <wbs-input-primario [formGroup]="autenticacaoForm" #inputSenha wbs-placeholder="Informe sua senha..."
              wbs-maxlength="32">
            </wbs-input-primario>

            <wbs-botao-primario wbs-label="Acessar">
            </wbs-botao-primario>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
