<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="text-center">
        <div class="card card-autenticacao my-5">

          <h1 class="card-logotipo text-center">WBoss</h1>

          <form class="form-autenticacao" [formGroup]="formGroupAutenticacao" (submit)="clickAutenticar()">

            <wbs-input-primario #inputEmail wbs-formControlName="email" wbs-placeholder="E-mail...">
            </wbs-input-primario>

            <wbs-input-primario #inputSenha wbs-formControlName="senha" wbs-placeholder="Senha...">
            </wbs-input-primario>

            <wbs-botao-primario wbs-label="Acessar">
            </wbs-botao-primario>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
