<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-autenticacao my-5">

        <h3 class="card-logotipo text-center">WBoss</h3>

        <form class="form-autenticacao">

          <div class="form-label-group">
            <input class="form-control" type="text" placeholder="Informe seu login..." required maxlength="80"
              minlength="8" autocomplete="false" autofocus>
          </div>

          <div class="form-label-group">
            <input class="form-control" type="password" placeholder="Informe sua senha..." maxlength="32" minlength="8"
              autocomplete="false" required>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Acessar</button>

        </form>

      </div>
    </div>
  </div>
</div>
