.login-container {
  height: 100%;
  width: 100%;
}

.logotipo {
  height: auto;
  width: 250px;
}

svg {
  max-height: 100%;
  max-width: 100%;
  .p0 {
    fill: blue;
  }
  .p1 {
    fill: darken(blue, 20);
  }
  .p2 {
    fill: white;
  }
}
